body {
	background-color: lightblue;
	min-height: 500px;
}

h2 {
  font: 400 120px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

#locaterPhrase {
    height:200px;
    font-size:14pt;
    font: 13px sans-serif;

}

#output {
}

#title {
	text-align: center;
	background-color: maroon;
	color:white;
}

#labels{
	padding-top: 50px;
	background-color: lightblue;

}

#rhymeButton{
	text-align:center;
}

#fullPhrase{
}

.myText{
	height: 300px;
	width: 100%;
}

.navbar{
	background-color: maroon;
}

