body {height:100%;
}

h2 {
  font: 400 120px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

#locaterPhrase {
    height:200px;
    font-size:14pt;
    font: 13px sans-serif;

}

#output {
}

#title {
	text-align: center;
	color:white;
}

#labels{
	padding-top: 50px;
	height: 100%;
	/*background-color: #eeffee ;*/

}

#rhymeButton{
	text-align:center;
}

#fullPhrase{
}

#icon{
	width: 100px;
	height: auto;
}

.myText{
	height: 400px;
	width: 100%;
	min-width:100%;
	max-width: 100%;
}

.navbar{
	background-color: #510101;
}

